/*
Settings.css

Authors:
- A01750145 Miguel Ángel Pérez López
- A01378688 Daniel Garcia Barajas

Creation date: 04/05/2022
Last modification date: 10/06/2022

Style to display HTML elements for Settings.js.
*/

.stngs-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 1rem 2rem 2rem 100px;
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--main-card-background);
}

.stngs-container {
  width: 50rem;
  align-items: center;
}

.stngs-option {
  font-size: var(--sub-title);
  font-weight: bold;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  line-height: 200%;
  padding: 2rem;
}
.stngs-select {
  font-size: var(--option-text);
  font-weight: bold;
  border-radius: 6px;
  border-color: transparent;
  width: 25rem;
  padding: 1.2rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  cursor: pointer;
}
.stngs-restore-container {
  padding: 2rem;
}
.stngs-restore-btn {
  align-self: flex-end;
  font-size: var(--sub-option-text);
  color: var(--text-color);
  background-color: var(--main-card-background);
  border: none;
  cursor: pointer;
}

.stngs-restore-btn:hover {
  text-decoration: underline var(--text-color);
}
.stngs-music-btn {
  font-size: var(--option-text);
  color: var(--text-color);
  background-color: var(--sub-card-background);
  border: none;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.stngs-music-btn:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-out;
  opacity: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}
.stngs-music {
  font-size: var(--option-text);
  color: var(--text-color);
  background-color: var(--sub-card-background);
  border: none;
  cursor: pointer;
  width: 25rem;
  height: 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
}
