/* Initials: fpf */

.fpf-input {
  display: block;
  padding: 0.6rem 0.6rem 0.6rem 1.2rem;
  border: none;
  font-size: 2rem;
  border-radius: 9px;
}

.fpf-button {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.6rem;
  background-color: var(--highlight-color);
  color: var(--text-color);
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.fpf-label {
  font-size: 2rem;
  font-weight: bold;
}

/* Classes */
.fpf-main-container {
  width: 40rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
}

.fpf-container {
  padding: 3rem;
}

.fpf-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.fpf-form-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.fpf-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fpf-forgot-text {
  align-self: flex-end;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
}

.fpf-margin-bottom-sm {
  margin-bottom: 0.6rem;
}

.fpf-margin-top-sm {
  margin-top: 0.6rem;
}

.fpf-margin-top-md {
  margin-top: 1.2rem;
}

.fpf-margin-top-lg {
  margin-top: 4rem;
}
