/*
Login.css

Authors:
- A01749448 Jorge Chávez Badillo
- A01379868 Jared Abraham Flores Guarneros
- A01750145 Miguel Ángel Pérez López

Creation date: 28/04/2022
Last modification date: 28/04/2022

Style to display HTML elements for Login.js.
*/

/* Initials: log */
.log-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: var(--main-card-dark);
  margin: 2rem;
  border-radius: 10px;
  position: relative;
}

.log-container {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.log-logo {
  height: 100px;
  justify-self: center;
}

.log-about {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  margin: 3rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--highlight-color-default);
  color: var(--text-color-dark);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.log-about:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-out;
  opacity: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
