/* CSS of Login Form
Authors:
        A01777771 Stephen Strange*/
/*Initials: lgf*/

/* Main tags */
.lgf-input {
  display: block;
  padding: 0.6rem 0.6rem 0.6rem 1.2rem;

  border: none;
  font-size: 2rem;
  border-radius: 9px;
}

.lgf-button {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  background-color: var(--highlight-color-default);
  color: var(--text-color-dark);
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.lgf-button:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-out;
  opacity: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.lgf-label {
  font-size: 2rem;
  font-weight: bold;
}

/* Classes */
.lgf-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40rem;
  background-color: var(--sub-card-dark);
  color: var(--text-color-dark);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  min-height: 35rem;
}

.lgf-container {
  padding: 3rem;
}

.lgf-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.lgf-form-title {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bold;
}

.lgf-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lgf-forgot-text {
  align-self: flex-end;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
}
.lgf-register-text {
  text-align: right;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
}
.lgf-register-text:hover {
  text-decoration: underline var(--text-color-dark);
}
.lgf-forgot-text:hover {
  text-decoration: underline var(--text-color-dark);
}

.lgf-margin-bottom-sm {
  margin-bottom: 0.6rem;
}

.lgf-margin-top-sm {
  margin-top: 0.6rem;
}

.lgf-margin-top-md {
  margin-top: 1.2rem;
}

.lgf-margin-top-lg {
  margin-top: 4rem;
}
