/*
Login.css

Authors:
- A01749448 Jorge Chávez Badillo
- A01379868 Jared Abraham Flores Guarneros
- A01750145 Miguel Ángel Pérez López

Creation date: 28/04/2022
Last modification date: 28/04/2022

Style to display HTML elements for Login.js.
*/

/* Initials: log */
.log-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: var(--main-card-dark);
  margin: 2rem;
  border-radius: 10px;
  position: relative;
}

.log-container {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.log-logo {
  height: 100px;
  justify-self: center;
}

.log-about {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  margin: 3rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--highlight-color-default);
  color: var(--text-color-dark);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.log-about:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-out;
  opacity: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.log-row-container {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-items: center;
}
.log-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem;
}
.log-img {
  width: 20rem;
  height: 20rem;
}
.log-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  color: white;
  overflow-y: auto;
  padding-top: 150rem;
}
.ref-color {
  color: white;
}
