/*
NewPassword.css

Authors:
- A01749448 Jorge Chávez Badillo
- A01749373 Ariadna Jocelyn Guzmán Jiménez
- A01750185 Amy Murakami Tsutsumi

Creation date: 17/05/2022
Last modification date: 05/06/2022

Style to display HTML elements for NewPassword.js.
*/

/* Initials: nps */
.nps-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: var(--main-card-dark);
  margin: 2rem;
  border-radius: 10px;
}

.nps-container {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.nps-logo {
  height: 100px;
  justify-self: center;
}
