/* Initials: rp */
.rp-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: var(--main-card-background);
  margin: 2rem;
  border-radius: 10px;
}

.rp-container {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.rp-logo {
  height: 100px;
  justify-self: center;
}
