* {
  margin: 0;
  box-sizing: border-box;
}

.grid {
  margin: 3rem;
  display: grid;
  width: 900px;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.margin-bottom-sm {
  margin-bottom: 0.6rem;
}

.margin-top-sm {
  margin-top: 0.6rem;
}

.margin-top-md {
  margin-top: 1.2rem;
}

.margin-top-lg {
  margin-top: 4rem;
}

#dark {
  background-color: #233445;
}

#light {
  background-color: #fafafa;
}
