/* Import Amazon Ember Font*/
@import url("https://cdn.jsdelivr.net/gh/GoCloudHub/font-amazon-ember/fonts/amazonember/amazonember.css");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-dark: #233445;
  --background-light: #fafafa;
  --background-dark-protanopia: #2a2a40;
  --background-dark-deuteranopia: #29283f;
  --background-dark-tritanopia: #233d3c;
  --background-dark-protanomaly: #262e42;
  --background-dark-deuteranomaly: #262f42;
  --background-dark-tritanomaly: #233841;

  --main-card-dark: #132535;
  --main-card-light: #e9e9e9;
  --main-card-dark-protanopia: #1a1a31;
  --main-card-dark-deuteranopia: #191830;
  --main-card-dark-tritanopia: #132e2d;
  --main-card-dark-protanomaly: #161f33;
  --main-card-dark-deuteranomaly: #162032;
  --main-card-dark-tritanomaly: #132932;

  --sub-card-dark: #415164;
  --sub-card-light: #fdfdfd;
  --sub-card-dark-protanopia: #47485f;
  --sub-card-dark-deuteranopia: #47455e;
  --sub-card-dark-tritanopia: #415b5a;
  --sub-card-dark-protanomaly: #434b61;
  --sub-card-dark-deuteranomaly: #444c61;
  --sub-card-dark-tritanomaly: #415660;

  --text-color-dark: #fff;
  --text-color-light: #132535;
  --text-color-dark-protanopia: #feffff;
  --text-color-dark-deuteranopia: #fff;
  --text-color-dark-tritanopia: #fffeff;
  --text-color-dark-protanomaly: #feffff;
  --text-color-dark-deuteranomaly: #fff;
  --text-color-dark-tritanomaly: #fefffe;

  --highlight-color-default: #9facbd;
  --highlight-color-protanopia: #a4a4b8;
  --highlight-color-deuteranopia: #a3a2b7;
  --highlight-color-tritanopia: #9fb5b4;
  --highlight-color-protanomaly: #a1a7ba;
  --highlight-color-deuteranomaly: #a1a8ba;
  --highlight-color-tritanomaly: #9fb0b9;

  --online-color-default: #90da7e;
  --online-color-protanopia: #b0b094;
  --online-color-deuteranopia: #aba699;
  --online-color-tritanopia: #93a5a9;
  --online-color-protanomaly: #9dc189;
  --online-color-deuteranomaly: #9ec68b;
  --online-color-tritanomaly: #92c18e;

  --offline-color-default: #ef6269;
  --offline-color-protanopia: #b1b067;
  --offline-color-deuteranopia: #bac466;
  --offline-color-tritanopia: #e76565;
  --offline-color-protanomaly: #d59068;
  --offline-color-deuteranomaly: #d28668;
  --offline-color-tritanomaly: #ea6367;

  --h1-title-medium: 5rem;
  --h1-title-small: 3rem;
  --h1-title-big: 7rem;

  --sub-title-medium: 3rem;
  --sub-title-small: 2rem;
  --sub-title-big: 4rem;

  --option-text-medium: 2rem;
  --option-text-small: 1.5rem;
  --option-text-big: 2.5rem;

  --logo-bbva-dark: url("images/logo_bbva.png");
  --logo-bbva-light: url("images/logo_bbva_light.png");
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: "Amazon Ember", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.dark {
  --background-color: var(--background-dark);
  --main-card-background: var(--main-card-dark);
  --sub-card-background: var(--sub-card-dark);
  --text-color: var(--text-color-dark);
  --highlight-color: var(--highlight-color-default);
  --online-color: var(--online-color-default);
  --offline-color: var(--offline-color-default);
  --logo-bbva: var(--logo-bbva-dark);
}
body.light {
  --background-color: var(--background-light);
  --main-card-background: var(--main-card-light);
  --sub-card-background: var(--sub-card-light);
  --text-color: var(--text-color-light);
  --highlight-color: var(--highlight-color-default);
  --online-color: var(--online-color-default);
  --offline-color: var(--offline-color-default);
  --logo-bbva: var(--logo-bbva-light);
}
body.dark_protanopia {
  --background-color: var(--background-dark-protanopia);
  --main-card-background: var(--main-card-dark-protanopia);
  --sub-card-background: var(--sub-card-dark-protanopia);
  --text-color: var(--text-color-dark-protanopia);
  --highlight-color: var(--highlight-color-protanopia);
  --online-color: var(--online-color-protanopia);
  --offline-color: var(--offline-color-protanopia);
  --logo-bbva: var(--logo-bbva-dark);
}
body.dark_deuteranopia {
  --background-color: var(--background-dark-deuteranopia);
  --main-card-background: var(--main-card-dark-deuteranopia);
  --sub-card-background: var(--sub-card-dark-deuteranopia);
  --text-color: var(--text-color-dark-deuteranopia);
  --highlight-color: var(--highlight-color-deuteranopia);
  --online-color: var(--online-color-deuteranopia);
  --offline-color: var(--offline-color-deuteranopia);
  --logo-bbva: var(--logo-bbva-dark);
}
body.dark_tritanopia {
  --background-color: var(--background-dark-tritanopia);
  --main-card-background: var(--main-card-dark-tritanopia);
  --sub-card-background: var(--sub-card-dark-tritanopia);
  --text-color: var(--text-color-dark-tritanopia);
  --highlight-color: var(--highlight-color-tritanopia);
  --online-color: var(--online-color-tritanopia);
  --offline-color: var(--offline-color-tritanopia);
  --logo-bbva: var(--logo-bbva-dark);
}
body.dark_protanomaly {
  --background-color: var(--background-dark-protanomaly);
  --main-card-background: var(--main-card-dark-protanomaly);
  --sub-card-background: var(--sub-card-dark-protanomaly);
  --text-color: var(--text-color-dark-protanomaly);
  --highlight-color: var(--highlight-color-protanomaly);
  --online-color: var(--online-color-protanomaly);
  --offline-color: var(--offline-color-protanomaly);
  --logo-bbva: var(--logo-bbva-dark);
}
body.dark_deuteranomaly {
  --background-color: var(--background-dark-deuteranomaly);
  --main-card-background: var(--main-card-dark-deuteranomaly);
  --sub-card-background: var(--sub-card-dark-deuteranomaly);
  --text-color: var(--text-color-dark-deuteranomaly);
  --highlight-color: var(--highlight-color-deuteranomaly);
  --online-color: var(--online-color-deuteranomaly);
  --offline-color: var(--offline-color-deuteranomaly);
  --logo-bbva: var(--logo-bbva-dark);
}
body.dark_tritanomaly {
  --background-color: var(--background-dark-tritanomaly);
  --main-card-background: var(--main-card-dark-tritanomaly);
  --sub-card-background: var(--sub-card-dark-tritanomaly);
  --text-color: var(--text-color-dark-tritanomaly);
  --highlight-color: var(--highlight-color-tritanomaly);
  --online-color: var(--online-color-tritanomaly);
  --offline-color: var(--offline-color-tritanomaly);
  --logo-bbva: var(--logo-bbva-dark);
}
body.small {
  --h1-title: var(--h1-title-small);
  --sub-title: var(--sub-title-small);
  --option-text: var(--option-text-small);
}
body.medium {
  --h1-title: var(--h1-title-medium);
  --sub-title: var(--sub-title-medium);
  --option-text: var(--option-text-medium);
}
body.big {
  --h1-title: var(--h1-title-big);
  --sub-title: var(--sub-title-big);
  --option-text: var(--option-text-big);
}
html {
  /* Format rem */
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
