/* Initials: aqc */

.aqc-main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--main-card-background);
  border-radius: 10px;
  /* height: 85vh; */
  gap: 2rem;
  margin: 1rem 2rem 2rem 100px;
  position: relative;
}

.aqc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aqc-feedback-card {
  position: fixed;
  /* position: sticky; */
  right: 0;
  /* width: 150px; */
  /* overflow-y: scroll;
  top: 0;
  bottom: 0; */
}
