/*
Dashboard.css

Authors:
- A01749373 Ariadna Jocelyn Guzmán Jiménez
- A01750145 Miguel Ángel Pérez López

Creation date: 04/05/2022
Last modification date: 04/05/2022

Style to display HTML elements for Dashboard.js.
*/

/* Initials: dsb */
.dsb-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-card-background);
  border-radius: 10px;
  height: 85vh;
  margin: 1rem 2rem 2rem 100px;
}

.dsb-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0 2rem 0;
  min-height: max-content;
}
