.sdsb-main-container-dashboard {
  width: 85rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  height: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sdsb-main-container-statistics {
  width: 120rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sdsb-quicksight-dashboard {
  width: 80rem;
  height: 60rem;
}

.sdsb-quicksight-statistics {
  width: 90%;
  height: 55rem;
}

@media (max-height: 752px) {
  .sdsb-main-container-dashboard {
    height: 60rem;
  }

  .sdsb-quicksight-dashboard {
    height: 55rem;
  }

  .sdsb-main-container-statistics {
    height: 60rem;
  }

  .sdsb-quicksight-statistics {
    height: 55rem;
  }
}

@media (max-height: 680px) {
  .sdsb-main-container-dashboard {
    height: 45rem;
  }

  .sdsb-quicksight-dashboard {
    height: 40rem;
  }

  .sdsb-main-container-statistics {
    height: 45rem;
  }

  .sdsb-quicksight-statistics {
    height: 40rem;
  }
}
