/*Initials: prfl*/

.prfl-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 1rem 2rem 2rem 100px;
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--main-card-background);
}
.prfl-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: var(--sub-card-background);
  margin: 3rem;
  border-radius: 10px;
  width: -webkit-fill-available;
}
.prfl-container {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
.prfl-ic {
  height: 50%;
}
.prfl-name {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.prfl-label {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}
.prfl-label-info {
  font-size: 1.5rem;
  font-weight: bold;
}
