/*
AgentMain.css

Authors:
- A01378688 Daniel Garcia Barajas
- A01379868 Jared Abraham Flores Guarneros

Creation date: 17/05/2022
Last modification date: 05/06/2022

Style to display HTML elements for AgentMain.js.
*/

/* Initials: agM*/
.agM-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-card-background);
  border-radius: 10px;
  height: 85vh;
  margin: 1rem 2rem 2rem 100px;
}

.agM-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0 2rem 0;
  min-height: max-content;
}

/*****************************/
/* BELOW 50*16 = 800px (Smaller desktops) */
/*****************************/
@media (max-height: 50em) {
  .agM-main-container {
    height: 80vh;
  }
}

@media (max-height: 45em) {
  .agM-main-container {
    height: max-content;
  }
}
