/*Initials: ac*/

.ac-image {
  height: 18rem;
  width: auto;
  text-align: center;
}

.ac-title {
  font-size: var(--sub-title);
  font-weight: bold;
  margin: 2rem;
  text-align: center;
}

.ac-main-container {
  width: 45rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  min-height: 60rem;
}
