.rs-main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  min-height: 18rem;
  margin-top: 2rem;
}
.rs-sub-container {
  width: 90%;
}
.rs-title {
  font-size: var(--sub-title);
  /* font-size: 3rem; */
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}
.rs-button {
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
