.rs-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  height: 18rem;
  margin-top: 2rem;
  position: relative;
  transition: all 0.3s linear;
  outline: solid 0px red;
}

.rs-recording {
  /* .rs-main-container:hover { */
  outline-width: 10px;
}

.rs-sub-container {
  width: 90%;
}

.rs-title {
  font-size: var(--sub-title);
  /* font-size: 3rem; */
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.rs-button {
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  margin-top: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.rs-button-up {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
