/* 
AddUser.css

Authors:
- A01750145 Miguel Ángel Pérez López

Creation date: 01/06/2022
Last modification date: 01/06/2022

Style to display HTML elements for add user section.
*/

/* Initials: adu */
.adu-main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  height: 50rem;
  overflow-y: auto;
}

.adu-container {
  display: flex;
  flex-direction: column;
}

.adu-title {
  font-size: var(--sub-title);
  font-weight: bold;
  /* margin: 1rem; */
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.adu-label {
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.adu-input {
  font-size: var(--option-text);
  border-radius: 10px;
  padding: 1rem 1rem 1rem 2rem;
  margin-bottom: 1rem;
}

.adu-send-btn {
  font-size: var(--option-text);
  font-weight: bold;
  border-radius: 6px;
  border-color: transparent;
  padding: 1.2rem;
  color: white;
  background-color: #a1a7ba;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.adu-AdminP-btn {
  font-size: var(--option-text);
  font-weight: bold;
  border-radius: 10px;
  border-color: black;
  padding: 1.5rem;
  width: 15rem;
  color: white;
  background-color: var(--other-orange-color);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}
.adu-QAP-btn {
  font-size: var(--sub-option-text);
  font-weight: bold;
  border-radius: 10px;
  border-color: black;
  padding: 1.5rem;
  width: 15rem;
  color: white;
  background-color: var(--other-purple-color);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
}
.adu-Admin-btn {
  font-size: var(--sub-option-text);
  font-weight: bold;
  border-radius: 6px;
  border-color: transparent;
  padding: 1.5rem;
  width: 15rem;
  color: white;
  background-color: var(--other-orange-color);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  gap: 2rem;
}

.adu-QA-btn {
  font-size: var(--sub-option-text);
  font-weight: bold;
  border-radius: 6px;
  border-color: transparent;
  padding: 1.5rem;
  width: 15rem;
  color: white;
  background-color: var(--other-purple-color);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  gap: 2rem;
}

.adu-role-container {
  font-size: var(--option-text);
  font-weight: bold;
  border-radius: 6px;
  border-color: black;
  text-align: center;

  color: white;

  border-radius: 10px;
  gap: 2rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}

/*Media queries for AddUSer*/
/*****************************/
/* BELOW 47*16 = 752px (Smaller desktops) */
/*****************************/
@media (max-height: 47em) {
  .adu-main-container {
    height: 45rem;
  }
}

/*****************************/
/* BELOW 42.5*16 = 680px (Very Small desktops) */
/*****************************/
@media (max-height: 42.5em) {
  .adu-main-container {
    height: 40rem;
  }
}
