/* CSS of AgentList
Authors:
        A01777771 Stephen Strange*/
/* Initials: agl*/

.agl-main-container {
  background-color: var(--main-card-background);
  border-radius: 10px;
  height: 84vh;
  margin: 1rem 2rem 2rem 100px;
}

.agl-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0 2rem 0;
  min-height: max-content;
}

/*Media queries for AgentList*/
/*****************************/
/* BELOW 47*16 = 752px (Smaller desktops) */
/*****************************/
@media (max-height: 47em) {
  .agl-main-container {
    height: max-content;
  }
}

/*****************************/
/* BELOW 42.5*16 = 680px (Very Small desktops) */
/*****************************/
@media (max-height: 44em) {
  .agl-main-container {
    height: max-content;
  }
}

/*****************************/
/* BELOW 42.5*16 = 680px (Very Small desktops) */
/*****************************/
@media (max-height: 42.5em) {
  .agl-main-container {
    height: max-content;
  }
}
