/*
AllAgentsList.css

Authors:
- A01378688 Daniel Garcia Barajas
- A01749448 Jorge Chávez Badillo

Creation date: 02/05/2022
Last modification date: 09/06/2022

Style to display HTML elements for AllAgentsList.js.
*/

/*Initials: aal*/
.aal-main-container {
  width: 35.75rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  overflow-y: auto;
  height: 50rem;
  padding: 2rem;
}

.aal-main-container::-webkit-scrollbar {
  width: 6px;
}

.aal-main-container::-webkit-scrollbar-track {
  background: #00000000;
}

.aal-main-container::-webkit-scrollbar-thumb {
  background: #888;
}

.aal-main-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.aal-title {
  font-size: var(--sub-title);
  font-weight: bold;
  margin: 2rem;
  text-align: center;
}

.aal-profile-picture {
  width: auto;
  margin-left: 2rem;
}

.aal-telephone-picture {
  height: 2rem;
  width: auto;
  margin-right: 2rem;
}

.aal-row-container {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  grid-template-columns: 0.5fr 4fr;
  margin-bottom: 2rem;
  text-decoration: none;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.aal-row-container:hover {
  transition: 0.1s ease-out;
  opacity: 0.8;
}

.aal-text {
  font-size: var(--sub-option-text);
  font-weight: lighter;
  text-align: left;
}

.aal-online {
  background: var(--online-color);
}

.aal-offline {
  background: var(--offline-color);
}

.no-active-agents {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: var(--option-text);
}

/*Media queries for AllAgentList*/
/*****************************/
/* BELOW 47*16 = 752px (Smaller desktops) */
/*****************************/
@media (max-height: 47em) {
  .aal-main-container {
    height: 45rem;
  }
}

/*****************************/
/* BELOW 42.5*16 = 680px (Very Small desktops) */
/*****************************/
@media (max-height: 42.5em) {
  .aal-main-container {
    height: 40rem;
  }
}
