/* CSS of SingleAgent
Authors:
        A01777771 Stephen Strange*/
/*Initials: sa*/

.sa-main-container {
  width: 40rem;
  background-color: var(--sub-card-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  height: 50rem;
  padding: 1rem;
  overflow-y: auto;
}

.sa-title {
  font-size: var(--sub-title);
  font-weight: bold;
  margin: 2rem;
  text-align: center;
}

.sa-graphics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sa-rating-chart {
  width: 45%;
}

.sa-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sa-percent-picture {
  height: 14rem;
  width: auto;
}

.sa-images-container {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

.sa-give-feedback {
  /* margin-top: 2rem; */
}

.sa-rating {
  /* align-self: center; */
}

.sa-email {
  font-size: var(--sub-option-text);
  font-weight: 300;
  margin-top: 2rem;
  /* text-align: center; */
}

.sa-text {
  font-size: var(--sub-option-text);
  font-weight: 300;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.sa-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 0 2rem 0 2rem;
}

.sa-rating-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.sa-feedback {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sa-input {
  height: 10rem;
  border-radius: 10px;
  /* display: block; */
  padding: 1rem 0.6rem 0.6rem 1.2rem;
  border: none;
  font-size: var(--sub-option-text);
  border-radius: 10px;
  border: 2px solid var(--highlight-color) !important;
  /* transition: width 0.4s ease-in-out; */
}

.sa-send-btn {
  font-size: var(--sub-option-text);
  font-weight: 700;
  text-align: center;
  background-color: var(--highlight-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  color: var(--text-color);
  border: none;
}

.sa-send-btn:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-out;
  opacity: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/*Media queries for SingleAgent*/
/*****************************/
/* BELOW 47*16 = 752px (Smaller desktops) */
/*****************************/
@media (max-height: 47em) {
  .sa-main-container {
    min-height: 45rem;
  }
}

/*****************************/
/* BELOW 42.5*16 = 680px (Very Small desktops) */
/*****************************/
@media (max-height: 42.5em) {
  .sa-main-container {
    min-height: 40rem;
  }
}
