/* CSS of AgentFeedbackCard
Authors:
        A01777771 Stephen Strange*/
/* Initials: afc */

.afc-main-container {
  width: 30rem;
  color: var(--text-color);
  background-color: var(--sub-card-background);
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.5rem;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 3rem 0 3rem 0; */
}

.afc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: white;
  padding: 2rem;
}

.afc-navbar {
  display: flex;
  justify-content: space-around;
}

.afc-title {
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
}

.afc-container h3 {
  font-weight: 500;
}

.afc-feeback-score {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.afc-input {
  height: 30rem;
  border-radius: 10px;
  /* display: block; */
  padding: 0.6rem 0.6rem 0.6rem 1.2rem;

  border: none;
  font-size: 2rem;
  border-radius: 10px;
  /* transition: width 0.4s ease-in-out; */
}

.afc-feedback {
  height: 30rem;
  background-color: white;
  /* color: var(--text-color); */
  color: black;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--highlight-color) !important;
  width: 100%;
}

.afc-comment {
  align-self: start;
  color: var(--text-color);
}

.afc-send-btn {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--highlight-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  color: var(--text-color);
  margin-top: 1rem;
  border: none;
}
.afc-send-btn:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-out;
  opacity: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
