/*
Recordings.css

Authors:
- A01750145 Miguel Ángel Pérez López
- A01378688 Daniel Garcia Barajas

Creation date: 30/04/2022
Last modification date: 10/06/2022

Style to display HTML elements for Recordings.js.
*/

/* Initials: re */
.re-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-card-background);
  margin: 1rem 2rem 2rem 100px;
  border-radius: 10px;
  min-height: 85vh;
}

.re-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 3rem 0 3rem 0;
}
.re-menu-container {
  display: flex;
  grid-column: 1/ -1;
  /* gap: 1.5rem; */
  justify-self: end;
  width: 100%;
}
.re-search-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

.re-input {
  font-size: var(--option-text);
  padding: 1rem 1rem 1rem 2rem;
  border: none;
}

.re-select,
.re-btn {
  font-size: var(--option-text);
  font-weight: bold;
  border-radius: 6px;
  border-color: transparent;
  padding: 1.2rem;
  border-radius: 10px 0 0 10px;
  background-color: var(--highlight-color);
  color: var(--text-color);
  cursor: pointer;
}

.re-search-btn {
  border-radius: 0px 6px 6px 0px;
  background-color: var(--sub-card-background);
}

.re-no-recordings {
  justify-self: center;
  text-align: center;
  font-size: var(--sub-title);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: var(--text-color);
  margin: 3rem;
}

.re-search {
  font-size: var(--option-text);
  border-radius: 0px 6px 6px 0px;
  width: 35rem;
  background-color: var(--sub-card-light);
}

.re-refresh-btn {
  background-color: var(--highlight-color);
  font-size: var(--sub-option-text);
  font-weight: bold;
  color: var(--text-color);
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: 15rem;
  height: 4rem;
}
.re-refresh-btn:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-out;
  opacity: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*Media queries for Recordings*/
/*****************************/
/* BELOW 90*16 = 1450px (Smaller desktops) */
/*****************************/
@media (max-width: 90em) {
  .rec-main-container {
    width: 35rem;
  }
  .rec-agent-name {
    font-size: 2rem;
  }
  .rec-score {
    font-size: 1.8rem;
  }
}

/* BELOW 80*16 = 1280px (Smaller desktops) */
@media (max-width: 80em) {
  .re-container {
    grid-template-columns: 1fr 1fr;
  }
  .re-no-recordings {
    grid-column: 1 / 2;
  }
}

/* BELOW 73*16 = 1180px (Smaller desktops) */
@media (max-width: 73em) {
}

/* BELOW 57*16 = 920px (Smaller desktops) */
@media (max-width: 57em) {
}

/* BELOW 37*16 = 600px (Smaller desktops) */
@media (max-width: 37em) {
  .re-container {
    grid-template-columns: 1fr;
  }
  .re-input {
    font-size: 1.2rem;
  }
  .re-select {
    font-size: 1.2rem;
  }
}

/*Media queries for AllAgentList*/
/*****************************/
/* BELOW 47*16 = 752px (Smaller desktops) */
/*****************************/
@media (max-height: 47em) {
  .re-container {
    gap: 2rem;
  }
}
